In [1]:
%run "C:\Users\shiwei\Documents\ImageAnalysis3\required_files\Startup_py3.py"
sys.path.append(r"C:\Users\shiwei\Documents")

import ImageAnalysis3 as ia
%matplotlib notebook

from ImageAnalysis3 import *
print(os.getpid())

import h5py
from ImageAnalysis3.classes import _allowed_kwds
import ast

import pandas as pd

29828

In [2]:
import os
import scanpy as sc
import anndata as ad
import numpy as np
import pandas as pd

# 1. Load count data

In [3]:
data_folder = r'L:\Shiwei\DNA_MERFISH_analysis\Paired_tag\06.Paired-Tag_H3K9me3_DNA_filtered_matrix'

data_fname = os.path.join(data_folder, r'matrix.mtx')

In [4]:
Matrix = (scipy.io.mmread(data_fname))
B = Matrix.todense()
df = pd.DataFrame(B, range(1, B.shape[0] + 1), range(1, B.shape[1] + 1))
print(df.iloc[:5, :5])

   1  2  3  4  5
1  0  0  0  0  0
2  0  0  0  0  0
3  0  0  0  0  0
4  0  0  0  0  0
5  0  0  0  0  0

In [5]:
df

,1,2,3,4,5,6,7,8,9,10,...,12035,12036,12037,12038,12039,12040,12041,12042,12043,12044
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
519183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
519184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
519185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
519186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
barcodes_fname = os.path.join(data_folder, r'barcodes.tsv')
barcodes = pd.read_csv(barcodes_fname, sep='\t', header=None)
barcodes.head()

             0
0  21:02:26:11
1  21:02:27:12
2  21:02:36:07
3  21:02:38:09
4  21:02:38:11

In [7]:
bins_fname = os.path.join(data_folder, r'bins.tsv')
loci_bins = pd.read_csv(bins_fname, sep='\t', header=None)
loci_bins.head()

                           0                          1
0    chr10:10000000-10005000    chr10:10000000-10005000
1  chr10:100000000-100005000  chr10:100000000-100005000
2  chr10:100005000-100010000  chr10:100005000-100010000
3  chr10:100010000-100015000  chr10:100010000-100015000
4  chr10:100015000-100020000  chr10:100015000-100020000

In [8]:
df.index = loci_bins[0].tolist()
df.columns = barcodes[0].tolist()
df.head()

,21:02:26:11,21:02:27:12,21:02:36:07,21:02:38:09,21:02:38:11,21:02:49:08,21:02:53:07,21:02:77:10,21:03:10:10,21:03:16:09,...,32:95:83:12,32:95:92:09,32:96:07:08,32:96:07:09,32:96:23:12,32:96:51:08,32:96:58:09,32:96:68:09,32:96:69:09,32:96:90:09
chr10:10000000-10005000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100000000-100005000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100005000-100010000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100010000-100015000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100015000-100020000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 2. Load barcode metadata and add to obs and vars

In [9]:
meta_folder = r'L:\Shiwei\DNA_MERFISH_analysis\Paired_tag\GSE152020_Paired-Tag_RNA_filtered_matrix'
meta_fname = os.path.join(meta_folder, r'Nuclei_metaData.csv')
meta_df = pd.read_csv(meta_fname,sep='\t',)
#meta_df = meta_df.set_index('Cell_ID', drop=True)
meta_df

,Cell_ID,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
0,01:02:16:08,FC,2,H3K27ac,19425,18643,18211,5818,999,5426,5284,5093,1878,3,FC_ExNeu_L5,-5.547411,-6.336330,2.568175,-7.871347
1,01:02:19:07,FC,1,H3K27ac,6358,5891,5700,2043,557,2281,2225,2102,793,15,BR_NonNeu_OPC,0.422195,5.639957,-2.124980,3.471142
2,01:02:21:07,FC,1,H3K27ac,4726,4500,4399,1545,434,7735,7484,7066,2687,16,BR_NonNeu_Oligo_MOL,4.170502,6.648168,0.417700,12.119145
3,01:02:21:09,FC,3,H3K27ac,15582,14707,14363,4851,1002,17282,16824,15981,6374,3,FC_ExNeu_L5,-5.708712,-6.620135,2.829544,-7.538739
4,01:02:21:10,HC,1,H3K27ac,6385,5980,5861,2035,519,4987,4841,4634,1809,11,HC_ExNeu_DG,7.987172,0.324250,-0.711731,6.763884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64844,56:96:79:12,HC,2,ATAC,6511,5211,4847,3424,726,22814,21542,17774,6529,18,BR_NonNeu_Astro_Myoc,-2.312723,13.020053,2.723131,-2.720942
64845,56:96:93:04,HC,1,ATAC,56864,51186,49159,32865,3503,25773,23399,20056,6497,12,BR_InNeu_CGE,-3.768880,3.848108,-0.863011,0.734578
64846,56:96:94:01,FC,1,ATAC,7444,5227,4181,3245,778,8004,7542,6501,2310,12,BR_InNeu_CGE,-3.697555,3.623461,-0.366686,-0.055119
64847,56:96:94:08,FC,2,ATAC,6488,4950,4280,3114,769,5002,4636,4004,1243,6,FC_ExNeu_CT,-6.174460,-2.583169,-2.036310,0.396569
64848,56:96:94:09,FC,2,ATAC,4733,3266,2784,2150,614,30969,28356,23556,7483,1,FC_ExNeu_L23,-3.312705,-7.258923,-1.211179,0.037257

In [10]:
print(np.unique(meta_df['Tissue']))
print(np.unique(meta_df['Annotation']))

sel_meta_df = meta_df[meta_df['Tissue']=='FC']
sel_class_list = ['BR_InNeu_CGE', 'BR_InNeu_Pvalb', 'BR_InNeu_Sst', 'BR_NonNeu_Astro_Myoc',
 'BR_NonNeu_Astro_Nnat', 'BR_NonNeu_Endothelial', 'BR_NonNeu_Microglia',
 'BR_NonNeu_OPC', 'BR_NonNeu_Oligo_MFOL', 'BR_NonNeu_Oligo_MOL',
 'FC_ExNeu_CT','FC_ExNeu_L23', 'FC_ExNeu_L4',
 'FC_ExNeu_L5', 'FC_ExNeu_NP', 'FC_ExNeu_PT' ]
sel_meta_df = sel_meta_df[sel_meta_df['Annotation'].isin(sel_class_list)]


sel_meta_df.set_index('Cell_ID', inplace=True)
sel_meta_df

['FC' 'HC']
['BR_InNeu_CGE' 'BR_InNeu_Pvalb' 'BR_InNeu_Sst' 'BR_NonNeu_Astro_Myoc'
 'BR_NonNeu_Astro_Nnat' 'BR_NonNeu_Endothelial' 'BR_NonNeu_Microglia'
 'BR_NonNeu_OPC' 'BR_NonNeu_Oligo_MFOL' 'BR_NonNeu_Oligo_MOL'
 'FC_ExNeu_CT' 'FC_ExNeu_Claustrum' 'FC_ExNeu_L23' 'FC_ExNeu_L4'
 'FC_ExNeu_L5' 'FC_ExNeu_NP' 'FC_ExNeu_PT' 'HC_ExNeu_CA1' 'HC_ExNeu_CA23'
 'HC_ExNeu_DG' 'HC_ExNeu_Subiculum' 'HC_NonNeu_Ependymal']

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
Cell_ID,,,,,,,,,,,,,,,,,,
01:02:16:08,FC,2,H3K27ac,19425,18643,18211,5818,999,5426,5284,5093,1878,3,FC_ExNeu_L5,-5.547411,-6.336330,2.568175,-7.871347
01:02:19:07,FC,1,H3K27ac,6358,5891,5700,2043,557,2281,2225,2102,793,15,BR_NonNeu_OPC,0.422195,5.639957,-2.124980,3.471142
01:02:21:07,FC,1,H3K27ac,4726,4500,4399,1545,434,7735,7484,7066,2687,16,BR_NonNeu_Oligo_MOL,4.170502,6.648168,0.417700,12.119145
01:02:21:09,FC,3,H3K27ac,15582,14707,14363,4851,1002,17282,16824,15981,6374,3,FC_ExNeu_L5,-5.708712,-6.620135,2.829544,-7.538739
01:02:23:03,FC,3,H3K4me1,3222,3049,2951,1110,334,3375,3301,2975,1270,2,FC_ExNeu_L4,-3.835559,-4.175283,-1.671632,-1.405469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56:96:75:02,FC,1,ATAC,10384,6742,5615,4508,1181,62678,56240,47062,15077,1,FC_ExNeu_L23,-3.768688,-7.927906,-2.477818,-0.465370
56:96:77:09,FC,2,ATAC,7457,5484,4655,3256,859,18263,16214,13868,4117,1,FC_ExNeu_L23,-3.436938,-6.947432,-3.156529,-1.221869
56:96:94:01,FC,1,ATAC,7444,5227,4181,3245,778,8004,7542,6501,2310,12,BR_InNeu_CGE,-3.697555,3.623461,-0.366686,-0.055119
56:96:94:08,FC,2,ATAC,6488,4950,4280,3114,769,5002,4636,4004,1243,6,FC_ExNeu_CT,-6.174460,-2.583169,-2.036310,0.396569
56:96:94:09,FC,2,ATAC,4733,3266,2784,2150,614,30969,28356,23556,7483,1,FC_ExNeu_L23,-3.312705,-7.258923,-1.211179,0.037257

In [11]:
print(np.unique(meta_df['Target']))
target_mode = 'H3K9me3'
sel_meta_df_histone = sel_meta_df[sel_meta_df['Target']==target_mode]
sel_meta_df_histone

['ATAC' 'H3K27ac' 'H3K27me3' 'H3K4me1' 'H3K4me3' 'H3K9me3']

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
Cell_ID,,,,,,,,,,,,,,,,,,
21:02:36:07,FC,1,H3K9me3,34739,30315,29003,18466,2640,39652,30243,11976,14847,4,FC_ExNeu_PT,1.185773,-4.536413,1.002368,1.100115
21:02:38:09,FC,3,H3K9me3,25685,22796,21976,14307,2422,11218,7159,2134,3873,1,FC_ExNeu_L23,-2.796159,-8.111693,2.278006,-1.729979
21:02:53:07,FC,1,H3K9me3,5343,4322,3908,2797,683,35357,32062,14372,16174,14,BR_InNeu_Pvalb,-5.499069,2.459688,0.244727,2.480219
21:03:16:09,FC,3,H3K9me3,13878,11969,11428,7649,1579,13872,11038,3753,5550,20,BR_NonNeu_Microglia,0.676187,2.337654,-4.075477,0.700106
21:03:19:07,FC,1,H3K9me3,5217,4412,4175,2820,704,15960,13151,5214,6700,12,BR_InNeu_CGE,-3.820650,3.251819,-0.883570,1.537417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32:96:51:08,FC,2,H3K9me3,14209,12008,11590,8780,2037,15446,12597,4188,7106,4,FC_ExNeu_PT,1.316175,-4.486196,1.814991,0.981955
32:96:58:09,FC,3,H3K9me3,74509,64380,62695,46840,5094,16077,8639,3624,5107,3,FC_ExNeu_L5,-6.363767,-7.521038,3.561727,-0.884177
32:96:68:09,FC,3,H3K9me3,24102,21000,20052,15176,2908,12326,8572,2481,5096,1,FC_ExNeu_L23,-2.891554,-8.233155,0.363231,-1.180270
32:96:69:09,FC,3,H3K9me3,7165,6092,5763,4420,1217,8655,6934,2719,4002,13,BR_InNeu_Sst,-5.451914,3.513075,-0.765159,1.578980
32:96:90:09,FC,3,H3K9me3,6251,4899,4534,3467,1142,9082,7254,1777,4072,18,BR_NonNeu_Astro_Myoc,-1.572963,13.123203,-4.288332,0.465326

# 3. Convert selected obs to annData

In [12]:
ann_df = df.T 
del df # free memory
#ann_df.head()

# select the desired obs
sel_ann_df = ann_df.loc[sel_meta_df_histone.index]
del ann_df # free memory

sel_ann_df

,chr10:10000000-10005000,chr10:100000000-100005000,chr10:100005000-100010000,chr10:100010000-100015000,chr10:100015000-100020000,chr10:100020000-100025000,chr10:100025000-100030000,chr10:100030000-100035000,chr10:100035000-100040000,chr10:100040000-100045000,...,chrY:9950000-9955000,chrY:9955000-9960000,chrY:9960000-9965000,chrY:9965000-9970000,chrY:9970000-9975000,chrY:9975000-9980000,chrY:9980000-9985000,chrY:9985000-9990000,chrY:9990000-9995000,chrY:9995000-10000000
Cell_ID,,,,,,,,,,,,,,,,,,,,,
21:02:36:07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:02:38:09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:02:53:07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:03:16:09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:03:19:07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32:96:51:08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:96:58:09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:96:68:09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:96:69:09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:96:90:09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## make annData

In [16]:
adata = ad.AnnData(sel_ann_df)
adata

C:\Users\shiwei\AppData\Local\Temp\2\ipykernel_29828\1105574869.py:1: FutureWarning: X.dtype being converted to np.float32 from int64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = ad.AnnData(sel_ann_df)

AnnData object with n_obs × n_vars = 6190 × 519186

## add obs

In [17]:
adata.obs = sel_meta_df_histone.copy(deep=True)
adata.obs.head()

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
Cell_ID,,,,,,,,,,,,,,,,,,
21:02:36:07,FC,1,H3K9me3,34739,30315,29003,18466,2640,39652,30243,11976,14847,4,FC_ExNeu_PT,1.185773,-4.536413,1.002368,1.100115
21:02:38:09,FC,3,H3K9me3,25685,22796,21976,14307,2422,11218,7159,2134,3873,1,FC_ExNeu_L23,-2.796159,-8.111693,2.278006,-1.729979
21:02:53:07,FC,1,H3K9me3,5343,4322,3908,2797,683,35357,32062,14372,16174,14,BR_InNeu_Pvalb,-5.499069,2.459688,0.244727,2.480219
21:03:16:09,FC,3,H3K9me3,13878,11969,11428,7649,1579,13872,11038,3753,5550,20,BR_NonNeu_Microglia,0.676187,2.337654,-4.075477,0.700106
21:03:19:07,FC,1,H3K9me3,5217,4412,4175,2820,704,15960,13151,5214,6700,12,BR_InNeu_CGE,-3.820650,3.251819,-0.883570,1.537417

## add vars

In [19]:
loci_names = sel_ann_df.columns
loci_names = [i.replace(':','_').replace('-','_') for i in loci_names]
adata.var_names = loci_names
adata.var.head()

Empty DataFrame
Columns: []
Index: [chr10_10000000_10005000, chr10_100000000_100005000, chr10_100005000_100010000, chr10_100010000_100015000, chr10_100015000_100020000]

## use consistent cell labels

In [24]:
adata.obs['cluster'] =  adata.obs['Annotation']

celltype_rename_dict = {'BR_NonNeu_Endothelial':'Endo', 
                        'BR_NonNeu_Microglia':'Micro', 
                        'BR_NonNeu_Oligo_MFOL':'Oligo',
                        'BR_NonNeu_Oligo_MOL':'Oligo',
                        'BR_NonNeu_Astro_Myoc':'Astro',
                        'BR_NonNeu_Astro_Nnat':'Astro',
                        'BR_NonNeu_OPC':'OPC', 
                        'BR_InNeu_CGE':'CGE',
                        'BR_InNeu_Pvalb':'Pvalb',
                        'BR_InNeu_Sst':'Sst',
                        'FC_ExNeu_CT':'L6 CT',
                        'FC_ExNeu_L23':'L2/3 IT',
                        'FC_ExNeu_L4':'L4/5 IT',
                        'FC_ExNeu_L5':'L5 IT',
                        'FC_ExNeu_NP':'L5/6 NP',
                        'FC_ExNeu_PT':'L5 ET',}
new_class_label_dict = {'cluster':celltype_rename_dict}
adata.obs = adata.obs.replace(new_class_label_dict)

In [25]:
adata.obs

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2,cluster
Cell_ID,,,,,,,,,,,,,,,,,,,
21:02:36:07,FC,1,H3K9me3,34739,30315,29003,18466,2640,39652,30243,11976,14847,4,FC_ExNeu_PT,1.185773,-4.536413,1.002368,1.100115,L5 ET
21:02:38:09,FC,3,H3K9me3,25685,22796,21976,14307,2422,11218,7159,2134,3873,1,FC_ExNeu_L23,-2.796159,-8.111693,2.278006,-1.729979,L2/3 IT
21:02:53:07,FC,1,H3K9me3,5343,4322,3908,2797,683,35357,32062,14372,16174,14,BR_InNeu_Pvalb,-5.499069,2.459688,0.244727,2.480219,Pvalb
21:03:16:09,FC,3,H3K9me3,13878,11969,11428,7649,1579,13872,11038,3753,5550,20,BR_NonNeu_Microglia,0.676187,2.337654,-4.075477,0.700106,Micro
21:03:19:07,FC,1,H3K9me3,5217,4412,4175,2820,704,15960,13151,5214,6700,12,BR_InNeu_CGE,-3.820650,3.251819,-0.883570,1.537417,CGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32:96:51:08,FC,2,H3K9me3,14209,12008,11590,8780,2037,15446,12597,4188,7106,4,FC_ExNeu_PT,1.316175,-4.486196,1.814991,0.981955,L5 ET
32:96:58:09,FC,3,H3K9me3,74509,64380,62695,46840,5094,16077,8639,3624,5107,3,FC_ExNeu_L5,-6.363767,-7.521038,3.561727,-0.884177,L5 IT
32:96:68:09,FC,3,H3K9me3,24102,21000,20052,15176,2908,12326,8572,2481,5096,1,FC_ExNeu_L23,-2.891554,-8.233155,0.363231,-1.180270,L2/3 IT
32:96:69:09,FC,3,H3K9me3,7165,6092,5763,4420,1217,8655,6934,2719,4002,13,BR_InNeu_Sst,-5.451914,3.513075,-0.765159,1.578980,Sst
32:96:90:09,FC,3,H3K9me3,6251,4899,4534,3467,1142,9082,7254,1777,4072,18,BR_NonNeu_Astro_Myoc,-1.572963,13.123203,-4.288332,0.465326,Astro

## convert to sparse matrix

In [27]:
import scipy
adata.X = scipy.sparse.csr_matrix(adata.X)

In [29]:
type(adata.X)

scipy.sparse._csr.csr_matrix

In [35]:
#type(ad._core.views.SparseCSCView)
#type(ad._core.views.SparseCSCView)
isinstance(type(adata.X), type(ad._core.views.SparseCSCView))

True

In [28]:
adata.X.toarray()[:5,:5]

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]], dtype=float32)

# 4. Save annData

In [33]:
output_folder = r'L:\Shiwei\DNA_MERFISH_analysis\Paired_tag\anndata'
#target_mode = 'H3K9me3'

In [34]:
adata.write(os.path.join(output_folder,f'FC_pairtag_{target_mode}.h5ad'))